@model IEnumerable<AtuHotelRebuilt.Models.Reservation>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservation</title>
</head>
<body>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="9" class="text-center">Reservations</th>
                </tr>
                <tr>
                    
                    <th>Checkin Date</th>
                    <th>Checkout Date</th>
                    <th>Room Number</th>
                    <th>Cost</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>@Html.DisplayFor(modelItem => item.checkin_date.Day).@Html.DisplayFor(modelItem => item.checkin_date.Month).@Html.DisplayFor(modelItem => item.checkin_date.Year)</td>
                        <td>@Html.DisplayFor(modelItem => item.checkout_date.Day).@Html.DisplayFor(modelItem => item.checkout_date.Month).@Html.DisplayFor(modelItem => item.checkout_date.Year)</td>
                        <td>@Html.DisplayFor(modelItem => item.RoomID)</td>
                        <td>@Html.DisplayFor(modelItem => item.cost)</td>
                        
                    </tr>
                }
            </tbody>


        </table>
    </div>
</body>
</html>
